div{
    height: 100px;
    width: 100px;
    border: 2px red solid;
    border-top: 5px black solid;
    align-items: center;
    position: relative;
    top: 200px;
    border-radius: 50%;
    animation: loader 0.5s linear 0s infinite normal;
}
@keyframes loader {
    from { rotate: 0deg;}
    to { rotate: 360deg;}
}